<section class="about_section layout_padding fade-in" id="about">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="/images/other/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            @Localizer["We Are MarcDonalds"]
                        </h2>
                    </div>
                    <p>
                        @Localizer["MarcDonalds is a fast-food"]
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>