<link href="~/css/other/cookie.css" rel="stylesheet" asp-append-version="true"/>

<div id="cookieConsentModal" class="cookie-modal hidden">
    <div class="cookie-backdrop">
        <div class="cookie-content">
            <p>This website uses cookies to enhance your experience. By continuing to browse, you agree to our use of cookies.</p>
            <button id="acceptCookiesButton" class="cookie-button">
                OK, got it
            </button>
        </div>
    </div>
</div>

<script src="~/js/cookie.js" asp-append-version="true"></script>